<ActionBar title="Buyer's Account">
</ActionBar>

<side-drawer-page>
  <GridLayout columns="auto,*" rows="auto,auto,*">
      <Label row="0" col="0" row="0" colSpan="2"
          class="h1 page-text" backgroundColor="#0099CC"
          [text]="text"
          textWrap="true">
      </Label>
      <Label row="1" col="0" backgroundColor="#0000CC"
          text = "Lot Size (SQM)">
      </Label>
      <TextField row="1" col="1" hint="0" [(ngModel)]="lotSizeSQM"backgroundColor="#CC1100"
      ></TextField>
  </GridLayout>
</side-drawer-page>
