<side-drawer-page>
    <ScrollView>
        <StackLayout class="p-10">
            <Label class="h2 text-center" 
                [text]="text"
                textWrap="true">
            </Label>

            <GridLayout class="m-10" verticalAlignment="bottom" columns="auto,*" rows="auto,auto,auto,auto,auto,auto,auto,auto">
                <div id="entry">
                    <Label col="0" row="0" 
                        text = "Lot Size (SQM)">
                    </Label>
                    <TextField col="1" row="0" data-f
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.lotSizeSQM">
                    </TextField>

                    <Label col="0" row="1" 
                        text = "Selling Price">
                    </Label>
                    <TextField col="1" row="1" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.sellPrice">
                    </TextField>

                    <Label col="0" row="2" 
                        text = "FMV">
                    </Label>
                    <TextField col="1" row="2" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.FMV">
                    </TextField>

                    <Label col="0" row="3" 
                        text = "Zonal Value">
                    </Label>
                    <TextField col="1" row="3" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.zonalValue">
                    </TextField>
                </div>
                <div id="results" >
                    <Label col="0" row="4" 
                        text = "Transfer Tax">
                    </Label>
                    <TextField col="1" row="4" borderWidth="0"
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.transferTax">
                    </TextField>

                    <Label col="0" row="5" 
                        text = "Registration">
                    </Label>
                    <TextField col="1" row="5" 
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.registration">
                    </TextField>

                    <Label col="0" row="6" 
                        text = "TOTAL Amount">
                    </Label>
                    <TextField col="1" row="6"
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.totalAmt">
                    </TextField>

                    <Label col="0" row="7" 
                        text = "Price per SQM">
                    </Label>
                    <TextField col="1" row="7"  
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.pricePerSQM">
                    </TextField>
                </div>
            </GridLayout>

            <Button text="Calculate" (tap)="submit()">
            </Button>

        </StackLayout>
    </ScrollView>
</side-drawer-page>
