<side-drawer-page>
    <ScrollView>
        <StackLayout class="p-10">
            <Label class="h2 text-center" 
                [text]="text"
                textWrap="true">
            </Label>

            <GridLayout class="m-10" verticalAlignment="bottom" columns="auto,*" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
                <div id="entry">
                    <Label col="0" row="0" 
                        text = "Lot Size (SQM)">
                    </Label>
                    <TextField col="1" row="0" data-f
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.lotSizeSQM">
                    </TextField>

                    <Label col="0" row="1" 
                        text = "Selling Price">
                    </Label>
                    <TextField col="1" row="1" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.sellPrice">
                    </TextField>

                    <Label col="0" row="2" 
                        text = "FMV">
                    </Label>
                    <TextField col="1" row="2" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.FMV">
                    </TextField>

                    <Label col="0" row="3" 
                        text = "Zonal Value">
                    </Label>
                    <TextField col="1" row="3" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.zonalValue">
                    </TextField>

                    <Label col="0" row="4" 
                        text = "Professional Fee Rate %">
                    </Label>
                    <TextField col="1" row="4" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.profFeeRate">
                    </TextField>

                    <Label col="0" row="5" 
                        text = "Non-Standard Expenses">
                    </Label>
                    <TextField col="1" row="5" 
                        class="text-right" keyboardType="number"  
                        [(ngModel)]="this.baLot.nonStdExpenses">
                    </TextField>                
                </div>

                <div id="results" >
                    <Label col="0" row="6" 
                        text = "Tax Base">
                    </Label>
                    <TextField col="1" row="6" 
                        class="text-right" editable="false"  
                        [(ngModel)]="this.baLot.taxBase">
                    </TextField>

                    <Label col="0" row="7" 
                        text = "Capital Gains Tax">
                    </Label>
                    <TextField col="1" row="7" 
                        class="text-right" editable="false"  
                        [(ngModel)]="this.baLot.capitalGainsTax">
                    </TextField>
                    <Label col="0" row="8" 
                        text = "Docs Stamp">
                    </Label>
                    <TextField col="1" row="8" 
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.docsStamp">
                    </TextField>

                    <Label col="0" row="9" 
                        text = "Professional Fee">
                    </Label>
                    <TextField col="1" row="9" 
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.profFee">
                    </TextField>

                    <Label col="0" row="10" 
                        text = "Other Expenses">
                    </Label>
                    <TextField col="1" row="10"
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.otherExpenses">
                    </TextField>

                    <Label col="0" row="11" 
                        text = "NET PROCEEDS of the Seller">
                    </Label>
                    <TextField col="1" row="11"  
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.netProceeds">
                    </TextField>

                    <Label col="0" row="12" 
                        text = "Price per SQM">
                    </Label>
                    <TextField col="1" row="12"  
                        class="text-right"  editable="false"
                        [(ngModel)]="this.baLot.pricePerSQM">
                    </TextField>
                </div>
            </GridLayout>

            <Button text="Calculate" (tap)="submit()">
            </Button>

        </StackLayout>
    </ScrollView>
</side-drawer-page>